<div class="row">
    <div class="col-xs-12">
        <a role="button" class="btn btn-primary" ui-sref="vendedor.crearcategoria">Agregar</a>
        <table class="table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="categoria in response.categorys">
                <td>{{categoria.name}}</td>
                <td>{{categoria.description}}</td>
                <td>
                    <a ui-sref="vendedor.editarcategoria({id:categoria.id})" title="Editar" style="padding-right: 1em"><i class="fa fa-edit"></i></a>
                    <a ng-click="eliminar(categoria.id)" title="Eliminar" style="padding-right: 1em"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>