<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <form name="categoriaForm" ng-submit="updateCategoria()" class="form-horizontal" novalidate role="form">
            <div class="form-group">
                <input type="text" class="form-control1" placeholder="Nombre(s)" autofocus=""
                       ng-model="categoria.name" ng-required="true" ng-maxlength="50" name="nombre">
                <span class="error-message"
                      ng-show="categoriaForm.nombre.$dirty && categoriaForm.nombre.$error.required">
                            Este campo es obligatorio</span>
                <span class="error-message"
                      ng-show="categoriaForm.nombre.$dirty && categoriaForm.nombre.$error.maxlength">
                            Ha sobrepasado el limite de caracteres</span>
            </div>
            <div class="form-group">
                <textarea class="form-control1" placeholder="Descripcion" autofocus="" name="descripcion" ng-model="categoria.description" ng-maxlength="120"></textarea>
                <span class="error-message"
                      ng-show="categoriaForm.descripcion.$dirty && categoriaForm.descripcion.$error.maxlength">
                            Ha sobrepasado el limite de caracteres</span>
            </div>
            <div class="form-group">
                <div class="col-xs-3">
                    <button class="btn btn-lg btn-success1 btn-block" type="submit" ng-disabled="categoriaForm.$invalid">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>