<!--<div class="content-mid">-->

    <!--<div class="container">-->
        <!--<div class="spec ">-->
            <!--<h3>Categorias mas populares</h3>-->
            <!--<div class="ser-t">-->
                <!--<b></b>-->
                <!--<span><i></i></span>-->
                <!--<b class="line"></b>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--content-->
<div class="search-form">
        <input type="text" placeholder="Busca tu oferta aqui" ng-model="valor" name="Search..." class="pull-left">
        <input type="submit" value=" " ng-click="buscar()" class="pull-right">
</div>
<div class="content-mid">
    <div class="container">

        <div class="col-md-3 m-w3ls">
            <div class="col-md2" style="border-color: #0d0d0d; border: solid">
                <a href="kitchen.html">
                    <div class="big-sale2">
                        <h3><span>Cooking Oil Omega 3</span></h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 m-w3ls">
            <div class="col-md2 ">
                <a href="kitchen.html">
                    <div class="big-sale2">
                        <h3><span>Oil</span></h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 m-w3ls">
            <div class="col-md3 ">
                <a href="hold.html">
                    <div class="big-sale3">
                        <h3><span>bles</span></h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 m-w3ls">
            <div class="col-md3 ">
                <a href="hold.html">
                    <div class="big-sale3">
                        <h3><span>bles</span></h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>