<div class="content-mid">
    <div class="container">
    <div class="spec">
        <h3>{{'FAQEXTENDED' | translate}}</h3>
        <div class="ser-t">
            <b></b>
            <span><i></i></span>
            <b class="line"></b>
        </div>
    </div>
    <div class="panel-group" id="accordion">
        <!-- First Panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span>1.</span> {{'FAQ1' | translate}} ?
                </h4>
            </div>
            <div>
                <div class="panel-body">
                    <p>{{'FAQ1TEXT' | translate}}</p>
                </div>
            </div>
        </div>

        <!-- Second Panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span>2.</span> {{'FAQ2' | translate}} ?
                </h4>
            </div>
            <div>
                <div class="panel-body">
                    <p>{{'FAQ2TEXT' | translate}}</p>
                </div>
            </div>
        </div>

        <!-- Third Panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span>3.</span> {{'FAQ3' | translate}} ?
                </h4>
            </div>
            <div>
                <div class="panel-body">
                    <p>{{'FAQ3TEXT' | translate}}</p>
                </div>
            </div>
        </div>
        <!-- Fourth Panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span>4.</span> {{'FAQ4' | translate}} ?
                </h4>
            </div>
            <div>
                <div class="panel-body">
                    <p>{{'FAQ4TEXT' | translate}}</p>
                </div>
            </div>
        </div>
        <!-- Fifth Panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span>5.</span> {{'FAQ5' | translate}} ?
                </h4>
            </div>
            <div>
                <div class="panel-body">
                    <p>{{'FAQ5TEXT' | translate}}</p>
                </div>
            </div>
        </div>
        <!-- Sixth Panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span>6.</span> {{'FAQ6' | translate}} ?
                </h4>
            </div>
            <div>
                <div class="panel-body">
                    <p>{{'FAQ6TEXT' | translate}}</p>
                </div>
            </div>
        </div>
        <!-- Seventh Panel -->
    </div>
</div></div>