<!--<div class="row">
		<div class="col-xs-3" ng-repeat="post in posts">
			<div class="well">
				<h3 class="postTitle">{{post.name}}</h3>
				<h5>By: {{post.lastname}}</h5>
			</div>
		</div>
</div>-->
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/font-awesomeuser.css">
<link rel="stylesheet" href="css/jstarbox.css">
<link rel="stylesheet" href="css/styleuser.css">
<div class="header">
    <div class="btn-group btn-toggle">
        <button class="btn btn-default" ng-class="{en:'active'}[languagePreference.currentLanguage]" ng-click="languagePreference.switchLanguage('en')" >English</button>
        <button class="btn btn-default" ng-class="{es:'active'}[languagePreference.currentLanguage]" ng-click="languagePreference.switchLanguage('es')">Español</button>
    </div>
    <div class="container">

        <div class="logo">
            <h1><a ui-sref="user.ofertas">Weganga</a></h1>
        </div>
        <div class="head-t">
            <ul class="card">
                <li ng-show="logueado"><a ui-sref="user.wishlist"><i class="fa fa-heart" aria-hidden="true"></i>{{'WISHLIST' | translate}}</a></li>
                <li ng-show="!logueado"><a ui-sref="login"><i class="fa fa-user" aria-hidden="true"></i>{{'LOGIN' | translate}}</a></li>
                <li ng-show="logueado"><a href ng-click="salir()"><i class="fa fa-user" aria-hidden="true"></i>{{'LOGOUT' | translate}}</a></li>
                <li ng-show="logueado && nouser"><a ui-sref="login"><i class="fa fa-cogs" aria-hidden="true"></i>{{'MANAGE' | translate}}</a></li>
                <li ng-show="!logueado"><a ui-sref="registrarse"><i class="fa fa-arrow-right" aria-hidden="true"></i>{{'REGISTER' | translate}}</a></li>
                <li ng-show="logueado"><a ui-sref="user.pedidos"><i class="fa fa-file-text-o" aria-hidden="true"></i>{{'ORDERHISTORY' | translate}}</a></li>
                <li ng-show="logueado"><a ui-sref="user.invite"><i class="fa fa-group" aria-hidden="true"></i>{{'INVITE' | translate}}</a></li>
                <li><a ui-sref="user.about"><i class="fa fa-question" aria-hidden="true"></i>{{'ABOUT' | translate}}</a></li>
            </ul>
        </div>
        <div class="nav-top">
            <nav class="navbar navbar-default">

                <div class="navbar-header nav_2">
                    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse"
                            data-target="#bs-megadropdown-tabs">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>


                </div>
                <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                    <ul class="nav navbar-nav ">
                        <li class=" active"><a ui-sref="user.ofertas" class="hyper "><span>{{'HOME' | translate}}</span></a></li>
                        <li><a ui-sref="user.ofertasdia" class="hyper "><span>{{'DAILYDEALS' | translate}}</span></a></li>
                        <li><a ui-sref="user.ofertaselectrodomesticos" class="hyper "><span>{{'DOMESTICAPPLIANCES' | translate}}</span></a></li>
                        <li><a ui-sref="user.ofertaselectronica" class="hyper "><span>{{'ELECTRONICSUPLIES' | translate}}</span></a></li>
                        <li><a ui-sref="user.ofertashogar" class="hyper "><span>{{'HOMESWEETHOME' | translate}}</span></a></li>
                        <li><a ui-sref="user.ofertasaccesorios" class="hyper "><span>{{'ACCESSORIES' | translate}}</span></a></li>
                        <li><a ui-sref="user.ofertasexterior" class="hyper"> <span>{{'OUTLET' | translate}}</span></a></li>
                    </ul>
                </div>
            </nav>
            <div class="clearfix"></div>
        </div>

    </div>
</div>
<div ui-view>

</div>
<!--footer-->
<div class="footer">
    <div class="container">
        <div class="col-md-4 footer-grid">
            <h3>{{'ABOUTUS' | translate }}</h3>
            <p>{{'ABOUTUSPARRAFO' | translate}}.</p>
        </div>
        <div class="col-md-4 footer-grid ">
            <h3>{{'HELP' | translate}}</h3>
            <ul>
                <li><a ui-sref="user.faqs">{{'FAQEXTENDED' | translate}}</a></li>
                <li><a ui-sref="user.contact">{{'CONTACT' | translate}}</a></li>
                <li><a ui-sref="user.invite">{{'INVITE' | translate}}</a></li>
                <li><a >{{'SHIPPING' | translate}}</a></li>
                <li><a >{{'TERMS' | translate}}</a></li>
            </ul>
        </div>
        <div class="col-md-4 footer-grid">
            <h3>{{'MYACCOUNT' | translate}}</h3>
            <ul>
                <li><a ui-sref="login">{{'LOGIN' | translate}}</a></li>
                <li><a ng-show="!logueado" ui-sref="registrarse">{{'REGISTER' | translate}}</a></li>
                <li><a ng-show="logueado" ui-sref="user.wishlist">{{'WISHLIST' | translate}}</a></li>

            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="footer-bottom">
            <h2 style="padding-bottom: 15px"><a href="index.html">Weganga</a></h2>
            <ul class="social-fo">
                <li><a href="#" class=" face"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#" class=" twi"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#" class=" pin"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                <li><a href="#" class=" dri"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
            </ul>
            <div class=" address">
                <div class="col-md-4 fo-grid1">
                    <p><i class="fa fa-home" aria-hidden="true"></i>12K Street , 45 Building Road Canada.</p>
                </div>
                <div class="col-md-4 fo-grid1">
                    <p><i class="fa fa-phone" aria-hidden="true"></i>+1234 758 839 , +1273 748 730</p>
                </div>
                <div class="col-md-4 fo-grid1">
                    <p><a href="mailto:info@example.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>info@example1.com</a>
                    </p>
                </div>
                <div class="clearfix"></div>

            </div>
            <div class="copy-right">
                <p> {{'DESIGNBY' | translate}} <a href="http://www.carmasoluciones.com/" target="_blank">Carmasoluciones</a> </p>	    </div>
        </div>
    </div>
</div>
<!-- //footer-->

<!-- smooth scrolling -->


<!-- product -->
