<div class="content-mid">
    <div class="single">
        <div class="container">
            <div class="single-top-main">
                <div class="col-md-5 single-top">
                    <div class="single-w3agile">

                        <div id="picture-frame">
                            <img src="{{resp.retorno.offer.foto}}" alt="" class="img-responsive"/>
                        </div>
                        <div class="add add-3">
                            <button class="btn btn-danger my-cart-btn my-cart-b" ng-click="apuntarsepreparar()"
                                    ng-show="!resp.retorno.apuntado && isuser" data-image="images/si.jpg">
                                {{'AGREGARSEALACOMPRA' | translate}}
                            </button>
                            <button class="btn btn-danger my-cart-btn my-cart-b" ng-click="apuntarsepreparar()"
                                    ng-show="resp.retorno.apuntado && isuser" data-image="images/si.jpg">
                                {{'EDITARPEDIDO' | translate}}
                            </button>
                            <button class="btn btn-danger my-cart-btn my-cart-b" ng-click="desear()"
                                    ng-show="!resp.retorno.deseado && isuser" data-image="images/si.jpg">
                                {{'AGREGARALISTADEDESEO' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 single-top-left ">
                    <div class="single-right" ng-show="detallesmostrar">
                        <h3>{{resp.retorno.offer.name}}</h3>
                        <p class="in-pa reduced">
                            <del ng-show="resp.retorno.offer.descuento > 0">{{resp.retorno.offer.cost | currency}}</del>
                            {{(resp.retorno.offer.cost - resp.retorno.offer.descuento ) | currency}}
                        </p>
                        <p class="in-pa">{{'LUGAR' | translate}}: {{resp.retorno.offer.place}} y termina en {{resp.retorno.offer.enddate | date:'short'}}</p>
                        <p class="in-pa">{{'DESCRIPCION' | translate}}: {{resp.retorno.offer.description}} </p>
                        <p class="in-pa">{{'CONDITIONS' | translate}}: {{resp.retorno.offer.conditions}} </p>
                        <p class="in-pa">{{'CATEGORIAS' | translate}}: <em ng-repeat="categoria in resp.retorno.offer.categorys"> <a ui-sref="user.categoriaofertas({name:categoria.name})">{{categoria.name}}</a> </em></p>
                        <!--<div ng-repeat="categoria in resp.offer.categorys">-->
                            <!--<p><a>{{categoria.name}}</a></p></div></p>-->
                        <p class="in-pa">{{'MOREINFO' | translate}}: {{resp.retorno.offer.moreinfo}} </p>
                    </div>

                    <div class="single-right" ng-show="pedirmostrar">
                        <h3>{{resp.retorno.offer.name}}</h3>
                        <p class="in-pa reduced">
                            <del ng-show="resp.retorno.offer.descuento > 0">{{resp.retorno.offer.cost | currency}}</del>
                            {{(resp.retorno.offer.cost - resp.retorno.offer.descuento ) | currency}}
                        </p>
                        <p class="in-pa">{{'LUGAR' | translate}}: {{resp.retorno.offer.place}} y termina en {{resp.retorno.offer.enddate | date:'short'}}</p>
                        <p ng-show="languagePreference.currentLanguage == 'es'" class="in-pa">Es necesario que usted lea las condiciones de esta oferta antes de apuntarse en ella</p>
                        <p ng-show="languagePreference.currentLanguage == 'en'" class="in-pa">Is very necessary that you read this offer's conditions before adding yourself to it</p>
                        <p ng-show="languagePreference.currentLanguage == 'es'" class="in-pa">
                            Cantidad: <input type="number" ng-model="cantidadpedida" />
                        </p>
                        <p ng-show="languagePreference.currentLanguage == 'en'" class="in-pa">
                            Amount: <input type="number" ng-model="cantidadpedida" />
                        </p>
                        <button class="btn btn-danger my-cart-btn my-cart-b" ng-click="apuntarse()" data-image="images/si.jpg">
                            {{'AGREGARSEALACOMPRA' | translate}}
                        </button>
                    </div>

                    <div class="single-right" ng-show="pedireditarmostrar">
                        <h3>{{resp.retorno.offer.name}}</h3>
                        <p class="in-pa reduced">
                            <del ng-show="resp.retorno.offer.descuento > 0">{{resp.retorno.offer.cost | currency}}</del>
                            {{(resp.retorno.offer.cost - resp.retorno.offer.descuento ) | currency}}
                        </p>
                        <p class="in-pa">{{'LUGAR' | translate}}: {{resp.retorno.offer.place}} y termina en {{resp.retorno.offer.enddate | date:'short'}}</p>
                        <p ng-show="languagePreference.currentLanguage == 'es'" class="in-pa">Usted puede incrementar la cantidad pedida de esta oferta</p>
                        <p ng-show="languagePreference.currentLanguage == 'en'" class="in-pa">You can increase the amount requested in this offer</p>
                        <p ng-show="languagePreference.currentLanguage == 'es'" class="in-pa">
                            Cantidad: <input type="number" ng-model="cantidadpedida" />
                        </p>
                        <p ng-show="languagePreference.currentLanguage == 'en'" class="in-pa">
                            Amount: <input type="number" ng-model="cantidadpedida" />
                        </p>
                        <button class="btn btn-danger my-cart-btn my-cart-b" ng-click="apuntarseeditar()" data-image="images/si.jpg">
                            {{'EDITAR' | translate}}
                        </button>
                    </div>

                    <div class="clearfix"></div>
                </div>


            </div>
            <div class="clearfix"></div>
        </div>


    </div>
</div>

</div>