<div class="content-mid">
	<div class="single">
		<div class="container">
			<div class="single-top-main">
				<div class="col-md-5 single-top">
					<div class="single-w3agile">

						<div id="picture-frame">
							<img src="images/si.jpg" data-src="images/si-1.jpg" alt="" class="img-responsive"/>
						</div>
						<script src="js/jquery.zoomtoo.js"></script>
						<script>
							$(function () {
								$("#picture-frame").zoomToo({
									magnify: 1
								});
							});
						</script>


					</div>
				</div>
				<div class="col-md-7 single-top-left ">
					<div class="single-right">
						<h3>{{resp.offer.name}}</h3>


						<div class="pr-single">
							<p class="reduced ">
								<del>{{resp.offer.cost | currency}}</del>
								{{(resp.offer.cost - (resp.offer.cost * resp.offer.descuento / 100)) | currency}}
							</p>
						</div>
						<div class="block block-w3">
							<div class="starbox small ghosting"></div>
						</div>
						<p class="in-pa"> {{resp.offer.description}} </p>

						<div class="add add-3">
							<button class="btn btn-danger my-cart-btn my-cart-b" ng-click="apuntarse()" ng-show="isuser" data-image="images/si.jpg">
								Agregarse a la compra
							</button>
							<button class="btn btn-danger my-cart-btn my-cart-b" ng-click="desear()" ng-show="isuser" data-image="images/si.jpg">
								Agregar a lista de deseo
							</button>
						</div>


						<div class="clearfix"></div>
					</div>


				</div>
				<div class="clearfix"></div>
			</div>


		</div>
	</div>

</div>