<div class="content-mid">
    <div class="container">
        <table class="table ">
            <tr>
                <th class="t-head head-it ">Producto</th>
                <th class="t-head">Precio</th>
                <th class="t-head">Cantidad</th>
                <th class="t-head">Fecha</th>
            </tr>
            <tr ng-repeat="request in requests">
                <td>{{request.offer.name}}
                </td>
                <td>{{request.offer.cost}}</td>
                <td>{{request.quantity}}</td>
                <td>{{request.date | date:'medium'}}</td>

            </tr>
        </table></div>
</div>