<div class="content-mid">
    <div class="container">
        <table class="table ">
            <tr>
                <th class="t-head head-it ">{{'OFFER' | tanslate}}</th>
                <th class="t-head">{{'VENDEDOR' | translate}}</th>
                <th class="t-head">{{'COST' | translate</th>
                <th class="t-head"></th>
            </tr>
            <tr class="cross" ng-repeat="oferta in ofertas">
                <td class="ring-in t-data">
                    <a class="at-in">
                        <img src="images/wi.png" class="img-responsive" alt="">
                    </a>
                    <div class="sed">
                        <h5>{{oferta.name}}</h5>
                    </div>
                    <div class="clearfix"> </div>
                    <div class="close1"> <i class="fa fa-times" aria-hidden="true"></i></div>
                </td>
                <td class="t-data">{{oferta.provider.nombre}}</td>
                <td class="t-data">{{(oferta.cost - (oferta.cost * oferta.descuento / 100)) | currency}}</td>

                <td class="t-data t-w3l"><a class=" add-1" ng-click="apuntarse(oferta.id)">{{'APUNTARSE' | translate}}</a></td>

            </tr>
        </table></div>
</div>