<div class="row">

    <div class="col-xs-10 col-xs-offset-1">
        <form name="usuarioForm" ng-submit="saveUsuario()" class="form-horizontal" novalidate role="form">
            <div class="col-xs-5">
                <p>{{'PERSONALDETAILS' | translate}}</p>
                <div class="form-group">
                    <input type="text" class="form-control1" placeholder="{{'NAME' | translate}}" autofocus=""
                           ng-model="usuario.nombre" ng-required="true" ng-maxlength="80" name="nombre">
                    <span class="error-message"
                          ng-show="usuarioForm.nombre.$dirty && usuarioForm.nombre.$error.required">
                            {{'CAMPOOBLIGATORIO' | translate}}</span>
                    <span class="error-message"
                          ng-show="usuarioForm.nombre.$dirty && usuarioForm.nombre.$error.maxlength">
                            {{'LIMITOVER' | translate}}</span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control1" placeholder="{{'LASTNAME' | translate}}" autofocus=""
                           ng-model="usuario.apellidos" ng-required="true" ng-maxlength="80" name="apellidos">
                    <span class="error-message"
                          ng-show="usuarioForm.apellidos.$dirty && usuarioForm.apellidos.$error.required">
                            {{'CAMPOOBLIGATORIO' | translate}}</span>
                    <span class="error-message"
                          ng-show="usuarioForm.apellidos.$dirty && usuarioForm.apellidos.$error.maxlength">
                            {{'LIMITOVER' | translate}}</span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control1" placeholder="{{'DIRECCION' | translate}}" autofocus=""
                           ng-model="usuario.direccion" ng-maxlength="100" name="direccion">
                    <span class="error-message"
                          ng-show="usuarioForm.direccion.$dirty && usuarioForm.direccion.$error.maxlength">
                            {{'LIMITOVER' | translate}}</span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control1" placeholder="{{'TELEFONO' | translate}}" autofocus="" name="telefono"
                           ng-model="usuario.telefono" ng-required="true">
                    <span class="error-message"
                          ng-show="usuarioForm.telefono.$dirty && usuarioForm.telefono.$error.required">
                            {{'CAMPOOBLIGATORIO' | translate}}</span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control1" placeholder="{{'CODIGOPOSTAL' | translate}}" autofocus="" name="code"
                           ng-model="usuario.code">
                    <span class="error-message"
                          ng-show="usuarioForm.code.$dirty && usuarioForm.code.$error.required">
                            {{'CAMPOOBLIGATORIO' | translate}}</span>
                </div>
            </div>
            <div class="col-xs-2"></div>
            <div class="col-xs-5">
                <p>{{'ACCOUNTDETAILS' | translate}}</p>
                <div class="form-group">
                    <input type="text" class="form-control1" placeholder="{{'USERNAME' | translate}}" autofocus=""
                           ng-model="usuario.username" name="username" ng-required="true">
                    <span class="error-message"
                          ng-show="usuarioForm.username.$dirty && usuarioForm.username.$error.required">
                            {{'CAMPOOBLIGATORIO' | translate}}</span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control1" placeholder="{{'EMAIL' | translate}}" autofocus="" name="email"
                           ng-model="usuario.email" ng-minlength="5" ng-maxlength="120">
                    <span class="error-message"
                          ng-show="usuarioForm.email.$dirty && usuarioForm.email.$error.minlength">
                            Debe introducir un email mas largo</span>
                    <span class="error-message"
                          ng-show="usuarioForm.email.$dirty && usuarioForm.email.$error.maxlength">
                            {{'LIMITOVER' | translate}}</span>
                </div>
                <div class="form-group">
                    <select name="rol" ng-model="usuario.role" ng-required="true" class="form-control">
                        <option value="">{{'ESCOJAROL' | translate}}</option>
                        <option value="ROLE_CLIENTE">{{'CLIENTE' | translate}}</option>
                        <option value="ROLE_VENDEDOR">{{'VENDEDOR' | translate}}</option>
                        <option value="ROLE_ADMIN">{{'ADMINISTRADOR' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control1" placeholder="{{'PASSWORD' | translate}}" autofocus=""
                           ng-model="usuario.password" name="password" ng-required="true">
                    <span class="error-message"
                          ng-show="usuarioForm.password.$dirty && usuarioForm.password.$error.required">
                            {{'CAMPOOBLIGATORIO' | translate}}</span>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control1" placeholder="{{'REPEATEDPASSWORD' | translate}}" autofocus=""
                           ng-model="usuario.confirmpassword" name="confirmpassword" ng-required="true">
                    <span class="error-message"
                          ng-show="usuarioForm.confirmpassword.$dirty && usuarioForm.confirmpassword.$error.required">
                            {{'CAMPOOBLIGATORIO' | translate}}</span>
                </div>
            </div>
            <div class="col-xs-5"></div>
            <div class="form-group">
                <div class="col-xs-2">
                    <button class="btn btn-lg btn-success1 btn-block" type="submit" ng-disabled="usuarioForm.$invalid">
                        {{'SUBMIT' | translate}}
                    </button>
                </div>
            </div>
            <div class="col-xs-5"></div>
        </form>
    </div>
</div>