<div class="row">
    {{eliminarval}}
    <div class="col-xs-12">
        <a role="button" class="btn btn-primary" ui-sref="admin.crearusuario">{{'AGREGAR' | translate}}</a>
        <div class="pull-right"><input type="text" name="filtro" ng-model="valor" placeholder="{{'TEXTOAFILTRAR' | translate}}">
            <a role="button" class="btn btn-primary" ng-click="filtrar()">{{'FILTRAR' | translate}}</a></div>
        <table class="table">
            <thead>
            <tr>
                <th>{{'NAME' | translate}}</th>
                <th>{{'EMAIL' | translate}}</th>
                <th>{{'TELEFONO' | translate}}</th>
                <th>{{'DIRECCION' | translate}}</th>
                <th>{{'ROL' | translate}}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="usuario in response.users">
                <td>{{usuario.nombre}} {{usuario.apellidos}}</td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.telefono}}</td>
                <td>{{usuario.direccion}}</td>
                <td>{{usuario.role}}</td>
                <td>
                    <a ui-sref="admin.editarusuario({id:usuario.id})" title="{{'EDITAR' | translate}}" style="padding-right: 1em"><i class="fa fa-edit"></i></a>
                    <a ng-click="eliminar(usuario.id)" title="{{'ELIMINAR' | translate}}" style="padding-right: 1em"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>