<div class="row">
    {{err}}
    <div class="col-xs-10 col-xs-offset-1">
        <form name="ofertaForm" ng-submit="saveOferta()" class="form-horizontal" novalidate role="form">
            <div class="col-xs-5">
                <p>Personal details below</p>
                <div class="form-group">
                    <input type="text" class="form-control1" placeholder="Nombre(s)" autofocus=""
                           ng-model="oferta.name" ng-required="true" ng-maxlength="80" name="nombre">
                    <span class="error-message"
                          ng-show="ofertaForm.nombre.$dirty && ofertaForm.nombre.$error.required">
                            Este campo es obligatorio</span>
                    <span class="error-message"
                          ng-show="ofertaForm.nombre.$dirty && ofertaForm.nombre.$error.maxlength">
                            Ha sobrepasado el limite de caracteres</span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control1" placeholder="Condiciones" autofocus=""
                           ng-model="oferta.conditions" ng-required="true" ng-maxlength="80" name="conditions">
                    <span class="error-message"
                          ng-show="ofertaForm.conditions.$dirty && ofertaForm.conditions.$error.required">
                            Este campo es obligatorio</span>
                    <span class="error-message"
                          ng-show="ofertaForm.conditions.$dirty && ofertaForm.conditions.$error.maxlength">
                            Ha sobrepasado el limite de caracteres</span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control1" placeholder="Precio" autofocus=""
                           ng-model="oferta.cost" ng-maxlength="100" name="cost">
                    <span class="error-message"
                          ng-show="ofertaForm.cost.$dirty && ofertaForm.cost.$error.maxlength">
                            Ha sobrepasado el limite de caracteres</span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control1" placeholder="Mas Informacion" autofocus="" name="moreinfo"
                           ng-model="oferta.moreinfo" ng-required="true">
                    <span class="error-message"
                          ng-show="ofertaForm.moreinfo.$dirty && ofertaForm.moreinfo.$error.required">
                            Este campo es obligatorio</span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control1" placeholder="Lugar" autofocus="" name="place"
                           ng-model="oferta.place">
                    <span class="error-message"
                          ng-show="ofertaForm.place.$dirty && ofertaForm.place.$error.required">
                            Este campo es obligatorio</span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control1" placeholder="Descripcion" autofocus=""
                           ng-model="oferta.description" name="desc" ng-required="true">
                    <span class="error-message"
                          ng-show="ofertaForm.desc.$dirty && ofertaForm.desc.$error.required">
                            Este campo es obligatorio</span>
                </div>
                <div class="form-group">
                    <select name="selector-categorias" id="selector-categorias" class="form-control1"
                            ng-model="oferta.categorias" multiple
                            ng-options="categoria.id as categoria.name for categoria in categorias">
                        <option value="">Escoja la categoria</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-2"></div>
            <div class="col-xs-5">
                <p>Account details below</p>
                <div class="form-group">
                    <input type="text" class="form-control1" placeholder="de 1 a 5" autofocus=""
                           ng-model="oferta.rebaja1" name="rebaja1" ng-required="true">
                    <span class="error-message"
                          ng-show="ofertaForm.rebaja1.$dirty && ofertaForm.rebaja1.$error.required">
                            Este campo es obligatorio</span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control1" placeholder="de 6 a 10" autofocus=""
                           ng-model="oferta.rebaja2" name="rebaja2" ng-required="true">
                    <span class="error-message"
                          ng-show="ofertaForm.rebaja2.$dirty && ofertaForm.rebaja2.$error.required">
                            Este campo es obligatorio</span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control1" placeholder="de 11 a 25" autofocus=""
                           ng-model="oferta.rebaja3" name="rebaja3" ng-required="true">
                    <span class="error-message"
                          ng-show="ofertaForm.rebaja3.$dirty && ofertaForm.rebaja3.$error.required">
                            Este campo es obligatorio</span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control1" placeholder="de 26 a 50" autofocus=""
                           ng-model="oferta.rebaja4" name="rebaja4" ng-required="true">
                    <span class="error-message"
                          ng-show="ofertaForm.rebaja4.$dirty && ofertaForm.rebaja4.$error.required">
                            Este campo es obligatorio</span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control1" placeholder="de 51 a 100" autofocus=""
                           ng-model="oferta.rebaja5" name="rebaja5" ng-required="true">
                    <span class="error-message"
                          ng-show="ofertaForm.rebaja5.$dirty && ofertaForm.rebaja5.$error.required">
                            Este campo es obligatorio</span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control1" placeholder="de 101 a 250" autofocus=""
                           ng-model="oferta.rebaja6" name="rebaja6" ng-required="true">
                    <span class="error-message"
                          ng-show="ofertaForm.rebaja6.$dirty && ofertaForm.rebaja6.$error.required">
                            Este campo es obligatorio</span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control1" placeholder="de 251 a 500" autofocus=""
                           ng-model="oferta.rebaja7" name="rebaja7" ng-required="true">
                    <span class="error-message"
                          ng-show="ofertaForm.rebaja7.$dirty && ofertaForm.rebaja7.$error.required">
                            Este campo es obligatorio</span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control1" placeholder="de 501 a 1000" autofocus=""
                           ng-model="oferta.rebaja8" name="rebaja8" ng-required="true">
                    <span class="error-message"
                          ng-show="ofertaForm.rebaja8.$dirty && ofertaForm.rebaja8.$error.required">
                            Este campo es obligatorio</span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control1" placeholder="de 1001 a 2500" autofocus=""
                           ng-model="oferta.rebaja9" name="rebaja9" ng-required="true">
                    <span class="error-message"
                          ng-show="ofertaForm.rebaja9.$dirty && ofertaForm.rebaja9.$error.required">
                            Este campo es obligatorio</span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control1" placeholder="de 2501 a 5000" autofocus=""
                           ng-model="oferta.rebaja10" name="rebaja10" ng-required="true">
                    <span class="error-message"
                          ng-show="ofertaForm.rebaja10.$dirty && ofertaForm.rebaja10.$error.required">
                            Este campo es obligatorio</span>
                </div>
            </div>
            <div class="col-xs-5"></div>
            <div class="form-group">
                <div class="col-xs-2">
                    <button class="btn btn-lg btn-success1 btn-block" type="submit" ng-disabled="usuarioForm.$invalid">
                        Submit
                    </button>
                </div>
            </div>
            <div class="col-xs-5"></div>
        </form>
    </div>
</div>