<div class="row">
    <div class="col-xs-12">
        <a role="button" class="btn btn-primary pull-left" ui-sref="admin.crearimpuesto">{{'AGREGAR' | translate}}</a>
        <div class="pull-right"><input type="text" name="filtro" ng-model="valor" placeholder="{{'TEXTOAFILTRAR' | translate}}">
            <a role="button" class="btn btn-primary" ng-click="filtrar()">{{'FILTRAR' | translate}}</a></div>
        <table class="table">
            <thead>
            <tr>
                <th>{{'NAME' | translate}}</th>
                <th>{{'DESCRIPTION' | translate}}</th>
                <th>{{'TASA' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="impuesto in response.taxs">
                <td>{{impuesto.name}}</td>
                <td>{{impuesto.description}}</td>
                <td>{{impuesto.tasaimpuesto}}</td>
                <td>
                    <a ui-sref="admin.editarimpuesto({id:impuesto.id})" title="Editar" style="padding-right: 1em"><i class="fa fa-edit"></i></a>
                    <a ng-click="eliminar(impuesto.id)" title="Eliminar" style="padding-right: 1em"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>