<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <form name="categoriaForm" ng-submit="cargamasiva()" class="form-horizontal" novalidate role="form">
            <div class="form-group">
                <div class="form-group">
                    <input type="file" file-upload multiple/>
                    <ul>
                        <li ng-repeat="file in files">{{file.name}}</li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-3">
                    <button class="btn btn-lg btn-success1 btn-block" type="submit" ng-disabled="categoriaForm.$invalid">
                        {{'SUBMIT' | translate}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>