<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <form name="reglapromocionForm" ng-submit="saveReglapromocion()" class="form-horizontal" novalidate role="form">
            <div class="form-group">
                <input type="text" class="form-control1" placeholder="{{'NAME' | translate}}" autofocus=""
                       ng-model="reglapromocion.nombre" ng-required="true" ng-maxlength="50" name="nombre">
                <span class="error-message"
                      ng-show="reglapromocionForm.nombre.$dirty && reglapromocionForm.nombre.$error.required">
                            {{'CAMPOOBLIGATORIO' | translate}}</span>
                <span class="error-message"
                      ng-show="reglapromocionForm.nombre.$dirty && reglapromocionForm.nombre.$error.maxlength">
                            {{'LIMITOVER' | translate}}</span>
            </div>
            <div class="form-group">
                <textarea class="form-control1" placeholder="{{'Description' | translate}}" autofocus="" name="descripcion" ng-model="reglapromocion.descripcion" ng-maxlength="120"></textarea>
                <span class="error-message"
                      ng-show="reglapromocionForm.descripcion.$dirty && reglapromocionForm.descripcion.$error.maxlength">
                            {{'LIMITOVER' | translate}}</span>
            </div>
            <div class="form-group">
                <div class="col-xs-3">
                    <button class="btn btn-lg btn-success1 btn-block" type="submit" ng-disabled="reglapromocionForm.$invalid">
                        {{'SUBMIT' | translate}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>