<div class="row">
    <div class="col-xs-12">
        <a role="button" class="btn btn-primary" ui-sref="admin.crearreglapromocion">Agregar</a>
        <table class="table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="reglapromocion in response.promotions">
                <td>{{reglapromocion.name}}</td>
                <td>{{reglapromocion.desciption}}</td>
                <td>
                    <a ui-sref="admin.editarreglapromocion({id:reglapromocion.id})" title="Editar" style="padding-right: 1em"><i class="fa fa-edit"></i></a>
                    <a ng-click="eliminar(reglapromocion.id)" title="Eliminar" style="padding-right: 1em"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>