<link href="css/bootstrap.min.css" rel='stylesheet' type='text/css'/>
<link href="css/styleadmin.css" rel='stylesheet' type='text/css'/>
<link href="css/font-awesomeadmin.css" rel="stylesheet">
<link href="css/custom.css" rel="stylesheet">
<div class="login">
    <h1><a href="index.html">WEGANGA </a></h1>
    <div class="login-bottom">
        <h2>{{'FORGOTPASSWORD' | translate}}</h2>
        <div ng-show="invalidforgot" class="alert alert-danger">{{'INVALIDUSERNAME' | translate}}</div>
        <form ng-submit="forgot()" novalidate>
            <div class="col-md-6">
                <div class="login-mail">
                    <input type="text" placeholder="{{'USERNAME' | translate}}" ng-model="credentials.username" ng-required="true">
                    <i class="fa fa-envelope"></i>
                </div>
                <div class="login-mail">
                    <input type="text" placeholder="{{'EMAIL' | translate}}" ng-model="credentials.email" ng-required="true">
                    <i class="fa fa-envelope"></i>
                </div>
            </div>
            <div class="col-md-6 login-do">
                <div class="login-mail">
                    <input type="text" placeholder="{{'NAME' | translate}}" ng-model="credentials.nombre" ng-required="true">
                    <i class="fa fa-envelope"></i>
                </div>
                <div class="login-mail">
                    <input type="text" placeholder="{{'LASTNAME' | translate}}" ng-model="credentials.apellidos" ng-required="true">
                    <i class="fa fa-envelope"></i>
                </div>
                <label class="hvr-shutter-in-horizontal login-sub">
                    <input type="submit" ng-value="buttonText">
                </label>
            </div>

            <div class="clearfix"> </div>
        </form>
    </div>
</div>
<!---->
<div class="copy-right">
    <p> {{'DESIGNBY' | translate}} <a href="http:www.carmasoluciones.com/" target="_blank">Carmasoluciones</a> </p>	    </div>