<link href="css/bootstrap.min.css" rel='stylesheet' type='text/css'/>
<link href="css/styleadmin.css" rel='stylesheet' type='text/css'/>
<link href="css/font-awesomeadmin.css" rel="stylesheet">
<link href="css/custom.css" rel="stylesheet">
<div class="login">
    <h1><a href="index.html">WEGANGA </a></h1>
    <div class="login-bottom">
        <h2>Register</h2>
        <div ng-show="invalid" class="alert alert-danger">{{'INVALIDDATA' | translate}}</div>
        <div ng-show="noequals" class="alert alert-danger">{{'PASSWORDNOEQUALS' | translate}}</div>
        <form ng-submit="registrarse()">
        <div class="col-md-6">
            <div class="login-mail">
                <input type="text" placeholder="{{'EMAIL' | translate}}" required="" ng-model="credentials.email">
                <i class="fa fa-envelope"></i>
            </div>
            <div class="login-mail">
                <input type="password" placeholder="{{'PASSWORD' | translate}}" required="" ng-model="credentials.password">
                <i class="fa fa-lock"></i>
            </div>
            <div class="login-mail">
                <input type="password" placeholder="{{'REPEATEDPASSWORD' | translate}}" required="" ng-model="credentials.confirmpassword">
                <i class="fa fa-lock"></i>
            </div>
            <!--<a class="news-letter" href="#">-->
                <!--<label class="checkbox1"><input type="checkbox" name="checkbox" ><i> </i>I agree with the terms</label>-->
            <!--</a>-->

        </div>
        <div class="col-md-6 login-do">
            <label class="hvr-shutter-in-horizontal login-sub">
                <input type="submit" value="{{'SUBMIT' | translate}}">
            </label>
            <p>{{'YATIENECUENTA' | translate}}</p>
            <a ui-sref="login" class="hvr-shutter-in-horizontal">{{'LOGIN' | translate}}</a>
        </div>
            </form>
        <div class="clearfix"> </div>
    </div>
</div>
<!---->
<div class="copy-right">
    <p> {{'DESIGNBY' | translate}} <a href="http:www.carmasoluciones.com/" target="_blank">Carmasoluciones</a> </p>	    </div>
