<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <form name="proveedorForm" ng-submit="saveProveedor()" class="form-horizontal" novalidate role="form">

                <p>Personal details below</p>
                <div class="form-group">
                    <input type="text" class="form-control1" placeholder="{{'NAME' | translate}}" autofocus=""
                           ng-model="proveedor.nombre" ng-required="true" ng-maxlength="80" name="nombre">
                    <span class="error-message"
                          ng-show="proveedorForm.nombre.$dirty && proveedorForm.nombre.$error.required">
                            {{'CAMPOOBLIGATORIO' | translate}}</span>
                    <span class="error-message"
                          ng-show="proveedorForm.nombre.$dirty && proveedorForm.nombre.$error.maxlength">
                            {{'LIMITOVER' | translate}}</span>
                </div>
            <div class="form-group">
                <input type="text" class="form-control1" placeholder="{{'LASTNAME' | translate}}" autofocus=""
                       ng-model="proveedor.apellidos" ng-required="true" ng-maxlength="80" name="apellidos">
                <span class="error-message"
                      ng-show="proveedorForm.apellidos.$dirty && proveedorForm.apellidos.$error.required">
                            {{'CAMPOOBLIGATORIO' | translate}}</span>
                <span class="error-message"
                      ng-show="proveedorForm.apellidos.$dirty && proveedorForm.apellidos.$error.maxlength">
                            {{'LIMITOVER' | translate}}</span>
            </div>
                <div class="form-group">
                    <input type="text" class="form-control1" placeholder="{{'EMAIL' | translate}}" autofocus="" name="email"
                           ng-model="proveedor.email" ng-minlength="5" ng-maxlength="120">
                    <span class="error-message"
                          ng-show="proveedorForm.email.$dirty && proveedorForm.email.$error.minlength">
                            Debe introducir un email mas largo</span>
                    <span class="error-message"
                          ng-show="proveedorForm.email.$dirty && proveedorForm.email.$error.maxlength">
                            {{'LIMITOVER' | translate}}</span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control1" placeholder="{{'TELEFONO' | translate}}" autofocus="" name="telefono"
                           ng-model="proveedor.telefono" ng-required="true">
                    <span class="error-message"
                          ng-show="proveedorForm.telefono.$dirty && proveedorForm.telefono.$error.required">
                            {{'CAMPOOBLIGATORIO' | translate}}</span>
                </div>
            <div class="form-group">
                <input type="text" class="form-control1" placeholder="{{'CODIGOPOSTAL' | translate}}" autofocus="" name="codigo"
                       ng-model="proveedor.codigo" ng-required="true">
                <span class="error-message"
                      ng-show="proveedorForm.codigo.$dirty && proveedorForm.codigo.$error.required">
                            {{'CAMPOOBLIGATORIO' | translate}}</span>
            </div>
                <div class="form-group">
                    <input type="text" class="form-control1" placeholder="{{'DIRECCION' | translate}}" autofocus="" name="direccion"
                           ng-model="proveedor.direccion">
                    <span class="error-message"
                          ng-show="proveedorForm.direccion.$dirty && proveedorForm.direccion.$error.required">
                            {{'CAMPOOBLIGATORIO' | translate}}</span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control1" placeholder="DNI" autofocus=""
                           ng-model="proveedor.dni" name="dni" ng-required="true">
                    <span class="error-message"
                          ng-show="proveedorForm.dni.$dirty && proveedorForm.dni.$error.required">
                           {{'CAMPOOBLIGATORIO' | translate}}</span>
                </div>
            <div class="form-group">
                <div class="col-xs-3">
                    <button class="btn btn-lg btn-success1 btn-block" type="submit" ng-disabled="proveedorForm.$invalid">
                        {{'SUBMIT' | translate}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>