<div class="row">
    <div class="col-xs-12">
        <table class="table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Costo</th>
                <th>Descuento</th>
                <th>Compradores</th>
                <th>Fecha</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="oferta in response.offers">
                <td>{{oferta.name}}</td>
                <td>{{oferta.cost}}</td>
                <td>{{oferta.descuento}}</td>
                <td>{{oferta.cantrequest}}</td>
                <td>{{oferta.date}}</td>
                <td>
                    <a ng-click="eliminar(oferta.id)" title="Eliminar" style="padding-right: 1em"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>